@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'poppins';
    src: url('../font/poppins/poppins-regular-webfont.woff2') format('woff2'),
         url('../font/poppins/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins';
    src: url('../font/poppins/poppins-bold-webfont.woff2') format('woff2'),
         url('../font/poppins/poppins-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

/* ============== Base ============== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kanit', sans-serif;
}

a {
    color: #000 !important;
    text-decoration: none !important;
    transition: all .2s ease;
    cursor: pointer;
}

input {
    border: none;
    background-color: transparent;
    outline: none;
    transition: all .2s ease;
    cursor: pointer;
}

button {
    border: none;
    background-color: transparent;
    color: #000;
    transition: all .2s ease;
    cursor: pointer;
}

ul, li {
    list-style: none;
}

img {
    width: 100%;
}

/* ============== Custom Class general use, in get bootstrap ============== */
/* ------- Custom font size ------- */
.ct-fs-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}
.ct-fs-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.ct-fs-base {
    font-size: 1rem;
    line-height: 1.5rem;
}
.ct-fs-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.ct-fs-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.ct-fs-2x {
    font-size: 1.5rem;
    line-height: 2rem;
}
.ct-fs-3x {
    font-size: 1.875rem;
    line-height: 2.25rem;
}
.ct-fs-4x {
    font-size: 2.25rem;
    line-height: 2.5rem;
}
.ct-fs-5x {
    font-size: 3rem;
    line-height: 1;
}



/* ------- Custom button or btn and text a ------- */
.ct-text-hover {
    display: flex;
    align-items: center;
    color: #000;
}
.ct-text-hover:hover {
    color: #00b0f4 !important;
    transition: all .25s ease;
}

.ct-btn-hover:hover {
    color: #000;
    background-color: #00b0f4;
}

.ct-btn-dark {
    display: flex;
    align-items: center;
    padding: .8rem 1.4rem;
    color: #fff !important;
    background-color: #313639;
}
.ct-btn-dark:hover {
    background-color: #00b0f4;
}

.ct-btn-light {
    display: flex;
    align-items: center;
    padding: .8rem 1.4rem;
    background-color: transparent;
    color: #000;
    border: 1px solid #000;
}
.ct-btn-light:hover {
    color: #00b0f4;
    border: 1px solid #00b0f4;
}



/* ============== Style in main content ============== */
/* ------- Header ------- */
.header {
    width: 100%;
}

.header-menu {
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.header-logo {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-model {
    background: url(../images/porsche-bgshow.png) center / cover no-repeat;
}

.model-type .model-btn {
    border-bottom: 2px solid transparent;
}
.model-type .model-btn:focus {
    border-bottom: 2px solid #00b0f4;
}

.model-type button {
    color: #fff;
}

.model-class {
    color: #fff;
}

.mod-img img {
    display: inline !important;
    width: 50%;
}

.mod-btn .btn-items {
    padding: .6rem 1.2rem;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    transition: .2s ease;
}
.mod-btn .btn-items:hover {
    color: #00b0f4;
    border: 1px solid #00b0f4;
}

.slider .slick-arrow {
    position: absolute;
    z-index: 10;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    background-color: #fff !important;
    color: #000 !important;
    transition: all .25s ease;
}

.slider .slick-arrow:hover {
    color: #fff !important;
    background-color: #00b0f4 !important;
}

.slider .slick-arrow svg,
.slider .slick-arrow i {
    font-size: 18px;
}
.slider .slick-next::before {
    content: none !important;
}
.slider .slick-prev::before {
    content: none !important;
}

.slider .slick-disabled {
    opacity: .6;
    background-color: #eee !important;
}
.slider .slick-disabled:hover {
    background-color: #eee !important;
    color: #000 !important;
}

.slider > div {
    padding-bottom: 2rem;
}

.slider .slick-dots {
    display: block;
    padding-top: 3rem;
}
.slider .slick-dots li button::before {
    content: none !important;
}
.slider .slick-dots li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: .5px solid #fff;
    background-color: #313639;
}

.slider .slick-dots .slick-active {
    background-color: #00b0f4;
}


/* ------- Navbar, Position sticky ------- */
.navbar {
    width: 100%;
}

.nav-menu {
    display: flex;
    overflow: auto;
    gap: 1rem;
    padding: 10px;
    scroll-snap-type: x mandatory;
    scroll-padding: 10px;
}

.nav-menu-items {
    padding-left: 2rem;
    flex: 0 0 auto;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    cursor: pointer;
    transition: all .25s ease;
}

.nav_active {
    padding-bottom: .2rem;
    border-bottom: 2px solid #00b0f4;
}


/* ------- Experience ------- */
.exper-content-img {
    padding: 0 !important;
    background: url(../images/experience.jpg) center / cover no-repeat;
    /* background-image: url(images/experience.jpg);
    background-repeat: no-repeat;
    background-position: center; */
    color: #fff;
}

.exper-content-1 {
    width: 100%;
    height: 500px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    background-color: rgba(0, 0, 0, 0.65);
}

.exper-content-1 p a {
    color: #fff !important;
    border-bottom: 1px solid #fff;
}
.exper-content-1 p a:hover {
    color: #d5001c !important;
    border-bottom: none;
}

.exper-content-2 {
    width: 60%;
    color: #000;
}


/* ------- 360 Experience ------- */
.exper360-items img {
    height: 600px;
    object-fit: cover;
    background-color: #000;
}

.exper360-items{
    position: relative;
}

.exper360-items a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 90px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    opacity: .7;
    color: #fff !important;
    background-color: #000;
    z-index: 111;
}
.exper360-items a:hover {
    background-color: #00b0f4;
}

.exper360-menu a {
    border-bottom: 2px solid transparent;
}
.exper360-menu a:hover {
    border-bottom: 2px solid #00b0f4;
}


/* --------- Palalax */
.exper-parallax {
    background: url(../images/porsche-bgshow.png);

    position: relative;
    min-height: 500px;
    width: 100%;

    /* fixed Parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    /* background: url(../images/porsche-bgshow.png) center / contain no-repeat; */
}

.exper-parallax::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.477);
    z-index: 222;
}

.parallax-model-1,
.parallax-model-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%);
    /* transform: translateX(-50%); */
}

.parallax-model {
    max-width: 980px !important;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}


/* ------- Highlight ------- */
.highlight-slidershow img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.highlight-slider .slick-arrow {
    box-shadow: 0px 0px 8px #acacac !important;
}

.highlight-info-show {
    width: 240px;
}

.highlight-info .slick-arrow {
    display: none !important;
}

.highlight-info .slick-list {
    overflow: visible;
}

.highlight-info .slick-slide {
    transition-duration: .1s;
    transition-timing-function: linear;
    cursor: pointer;
}

.highlight-info .is-active {
    transition: .25s ease-in-out;
    box-shadow: 0 0 50px -20px rgba(0,0,0,.7) !important;
    transform: translateY(-40px);
    background-color: #fff !important;
}



/* ------- Details ------- */
.detail-content {
    position: relative;
    width: 100%;
    height: 1000px;
    overflow: hidden;
    background: url(../images/explore.jpg) center / cover no-repeat ;
    /* object-fit: cover; */
}

/* .detail-img {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 222;
}

.detail-img img {
    position: absolute;
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%);
    object-fit: cover;
} */

.detail-list {
    background-color: #fff;
    overflow: hidden;
}

.detail-list:hover {
    background-color: #00b0f4;
}

.detail-list:hover .detail-text h2  {
    transform: translateY(23px);
    color: #fff;
}
.detail-list:hover .detail-text p  {
    transform: translateY(10px);
    color: #00b0f4;
}

.detail-list:hover .detail-open p  {
    opacity: 1 !important;
    transform: translatex(-30px);
    color: #fff;
}
.detail-list:hover .detail-open i,
.detail-list:hover .detail-open svg  {
    color: #fff;
}

.detail-list h2,
.detail-list p,
.detail-list i,
.detail-list svg {
    transition: all .25s ease;
}


/* ------- Model&Data ------- */
.model-data-slider {
    margin-left: 5rem;
}

.modata-slidshow {
    display: block;
}

.model-data-slider .slick-arrow {
    box-shadow: 0px 0px 8px #ddd !important;
}
.model-data-slider .slick-next {
    margin-right: 5rem;
}

.modata-slidshow {
    max-width: 600px;
    /* width: 600px !important; */
    display: block;
    box-shadow: 3px 6px 20px #bbb;
}

.model-data-slider .slick-list {
    overflow: visible;
}

.modata-slidshow .row span {
    border-bottom: 2px solid transparent;
    transition: all .25s ease-in-out;
}
.modata-slidshow:hover .row span {
    border-bottom: 2px solid #00b0f4;

}
.modata-info tr td:first-child {
    width: 40%;
}



/* ------- Find your Taycan ------- */
.find-pch {
    background-color: #eff0f1;
}

.find-pch img {
    max-width: 100%;
    height: auto !important;
}

/* ------- Gallery ------- */
.gallery {
    width: 100%;
    overflow: hidden;
}

.gallery img {
    height: 200px !important;
    width: 100%;
    object-fit: cover;
}

.gallery .img-big {
    height: 400px !important;
}



/* ------- Personal and Contact ------- */
.per_con {
    width: 100%;
    overflow: hidden;
}

.personal-content-1 {
    width: 100%;
    position: relative;
    color: #fff;
}

.personal-content-1::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    background: linear-gradient(to right,#000 15%,rgba(255,255,255,0) 80%);
}

.personal-content-1 img {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.contact-content-2 {
    width: 100%;
    background: url(../images/gallery-content-2.jpg) center / cover no-repeat;
    color: #fff;
}
.contact-content-2 .gallback {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,#000 15%,rgba(255,255,255,0) 80%);
}

.personal-content-1 p,
.contact-content-2 p {
    max-width: 600px;
}



/* ------- Next Stap ------- */
.nextstep-contact button {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    color: #fff !important;
}
.nextstep-contact button:hover {
    background-color: #00b0f4;
}

.nextstep-contact button::after {
    content: "";
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: #313639;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}



/* ------- Footer ------- */
.footer {
    width: 100%;
    background-color: #191f22;
}

.footer-btn {
    padding: .8rem 1.4rem;
    color: #fff !important;
    background-color: #313639;
}

.footer-copyright {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.footer-copyright a {
    margin-left: .5rem;
    color: #fff !important;
    border-bottom: 1px solid #fff;
    transition: all .25s ease;
}
.footer-copyright a:hover {
    color: #00b0f4 !important;
    border-bottom: 1px solid transparent;
}





/* ============== Responsive custom ============== */
/* Parallax setting in mobile */
@media only screen and (max-device-width: 1366px) {
    .exper-parallax {
        background-attachment: scroll;
   }
}

@media only screen and (min-width: 1920px) {
    .ct-container {
        max-width: 1690px;
        margin: 0 auto;
        overflow: hidden;
    }
}